*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background: radial-gradient(ellipse at bottom, #4c79f5, transparent),
    radial-gradient(farthest-corner,#bb1898, transparent),
    radial-gradient(ellipse at top, #85e03a, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
}

.glass{
    background-color: rgb(255, 255, 255, 0.25);
    opacity: 0.5;
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.125),
                5px 5px 10px rgb(0, 0, 0, 0.25);
    border-radius: 3px;
}

.title{
    text-align: center;
    font-size: 42px;
}

.text__center{
    text-align: center;
}

.container__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}